# Keycloak
# Defaults to dev environment (https://auth.dev.mindshub.ai/auth)
# Set to https://auth.mindshub.ai/auth for production
VITE_KEYCLOAK_URL=https://auth.dev.mindshub.ai/auth

# MindsHub API
# Defaults to dev environment (https://api.dev.mindshub.ai)
# Set to https://api.mindshub.ai for production
VITE_MINDS_API_URL=https://api.dev.mindshub.ai
